@media screen and (max-width: 480px) {
  * {
    margin: 0px;
    box-sizing: border-box;
  }

  .bg-grey {
    background: #c7c4c4;
  }

  section > .container {
    width: auto;
    margin: auto;
    /* display: block; */

    /* padding: 30px 50px; */
  }

  #nav-bar {
    margin: 0 auto;
    position: relative;
  }
  /* Thiết lập thuộc tính cho phần r header gôm
- Thêm hình background
- Set thuộc tính cho position relative, để căn chỉnh phần text trên đó cho chuẩn
- Set màu sắc và font, size cho text của header */
  #banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 50vh;
    color: #ffffff;
    font-family: "fontello", sans-serif;
    font-size: 18px;
    position: relative;
  }
  /* Căn chỉnh phần text của header để nó vào vị trí chính giữa của header 
bằng css transform */
  .contenthero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Thiết lập các element của nav bar là Inline-block để nó đứng 1 hàng, đồng thời thêm border xung quanh
 xóa hiệu ứng khi có link của các element*/
  .content-nav {
    display: block;
    /* border-left: solid 1px rgb(10, 10, 10); */
    text-decoration: none;
  }
  .content-nav2,
  .avatar {
    display: none;
  }

  /* Thiết lập khoảng cách padding cho các element trong nav bar */
  .content-nav {
    padding: 30px;
  }
  /* set màu sắc cho các icon trong nav */
  nav i {
    color: #199cdb;
  }
  /* Phần nav ở giữa gồm 1 thẻ H1 và span thì sẽ set up riêng */
  .content-nav2 {
    padding: 20px;
    vertical-align: middle;
  }
  /* Căn lề cho phần Mục tiêu nghề nghiệp */
  #target {
    padding: 40px 100px;
  }
  /* Căn lề cho phần thông tin cá nhân */
  #personal-info {
    padding: 40px 100px;
  }
  /* Set phần about hiển thị dạng grid trong đó chia làm 2 cột là phần Mục tiêu nghề nghiệp
và 1 cột là Thông tin cá nhân  */
  .section2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-title {
    margin-bottom: 20px;
  }
  /* căn chỉnh margin phần li một chút để các dòng không gần nhau quá*/
  li {
    margin-bottom: 10px;
  }
  /* Set margin cho phần Icon social ở phần thông tin cá nhân và tô màu cho nó */
  .icon-social {
    margin-top: 20px;
    color: #199cdb;
  }
  .section-title {
    padding-top: 40px;
  }
  /* Căn chỉnh lề cho H2 */
  h2 {
    margin: 10px;
  }
  /* Set up phần hiệu ứng cho chữ Hiện Tại */
  .hientai {
    background-color: #199cdb;
    color: #ffffff;
    border-radius: 1px;
    padding-left: 3px;
    padding-right: 3px;
  }
  /* Set phần Job info là Grid với 3 cột và 2 dòng, set khoảng cách
các dòng các cột và padding   */
  .job-infoclass {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 30px;
    padding-bottom: 20px;
  }
  /* Chỉnh màu sắc và kích cỡ cho phần icon ở tiêu đề */
  .tieude i {
    color: #199cdb;
    font-size: 2em;
  }
  /* Mỗi ô trong grid Job info là 1 cell của nó chúng ta sẽ set border
và padding cho từng cell đó */
  .cell {
    border: solid 1px;
    padding: 20px 50px;
  }
  /* phần tiêu đề sẽ của mỗi Cell sẽ được set làm 1 grid nhỏ trong đó
text chiếm 3 phần, phần icon chiếm 4 phần */
  .tieude {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 20px;
    align-items: center;
  }
  /* Với phần sở thích sẽ được set làm grid gồm 4 cột bằng nhau */
  .grid-sothich {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* set up các icon trong phần sở thích với vòng tròn xung quanh */
  .gridsothich-item {
    border: solid 1px rgb(7, 190, 236);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(5, 213, 250);
    margin-bottom: 15px;
  }

  /* Set up phần gạch màu xanh trong mục Kỹ năng */
  .blue {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  /* set up màu sắc và cách hiển thị cho phần net gạch màu xám ở kỹ năng */
  .grey {
    background: #6b6666;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  /* Set phần chứng chỉ là grid với 2 cột */
  .grid-chung-chi {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* trong mỗi cột của grid chứng chỉ chúng ta chia tiếp làm 2 grid với 2 cột */
  .item-chungchi {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }
  /* Set phần dự án làm grid với cột bằng nhau để hiển thị 3 dự án */
  .grid-duan {
    display: grid;
    grid-template-columns: 1fr;
    /* border-collapse: collapse; */
    /* border: 1px solid black; */
    gap: 20px;
  }
  .col-grid {
    display: grid;
    grid-template-rows: 1fr;
    /* gap: 10px; */
    /* border: 1px solid black; */
  }

  .col-grid img {
    max-width: 100%;
    height: auto;
  }
  /* Kẻ border cho phần tiêu đề dự án */
  /* .tieude-duan {
    border-top: 1px solid black;
  } */
  /* trong mỗi dự án lại được set làm grid với 3 cột bằng nhau */
  .gridnho {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    padding: 10px;
  }
  .item-gridduan {
    border: 1px solid black;
  }
  /* Set phần icon social ở Footer */
  .social-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    vertical-align: middle;
  }
  .iconfooter {
    color: #199cdb;
    font-size: 30px;
  }
  .social-text {
    display: flex;
    align-items: center;
  }
  /* Chỉnh hiệu ứng cho số Năm ở mục dự án (2021)  */
  .nam {
    display: inline;
    background-color: #199cdb;
    padding: 5px;
    width: auto;
    color: #ffffff;
    border-radius: 10px;
  }
  /* Chỉnh font size cho icon ở thông tin cá nhân */
  i {
    font-size: 20px;
  }
  /* Set up thuộc tính avatar nâng cao */
  .avatar {
    position: absolute;
    border-radius: 50%;
    border: 10px solid white;
    height: 222px;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Thiết lập hiệu ứng phần table ở mục dự án */
  /* tr {
    border: 1px solid black;
    padding: 30px;
  }
  table {
    border-collapse: collapse;
  } */
}
