* {
  box-sizing: border-box;
}
.numberproject {
  display: flex;
  background-color: blue;
  font-size: 40px;
  color: aliceblue;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
}



h1 {
  color: blue;
  border-bottom: 2px solid blue;
}
@media (min-width: 768px) {
  .icongoal, .iconmember, .iconprimary {
    width: 75px; /* Adjust the width as needed */
    height: 75px; /* Adjust the height as needed */
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .icongoal, .iconmember, .iconprimary {
    width: 75px; /* Adjust the width as needed */
    height: 75px; /* Adjust the height as needed */
    justify-content: center;
  }
}